<footer>
  <div id="footer"></div>
  <div class="interface">

    <section class="whatsapp-footer">
      <div class="whatsapp-container">

        <div class="whatsapp-text">
          <span class="icon">📢</span>
          <div>
            <strong>Novidades via WhatsApp</strong>
          </div>
        </div>

        <div class="whatsapp-action">
          <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20sobre%20a%20VOLTRUCKS."
            target="_blank" class="btn-whatsapp">
            Entrar em contato
          </a>
        </div>

      </div>
    </section>

    <section class="line-footer2">

      <div class="pagamentos">
        <h3>Formas de Pagamento</h3>
        <div class="cartoes-footer2">

        <img src="/assets/img/cartoes/visa.png" alt="Visa">
        <img src="/assets/img/cartoes/master.png" alt="Mastercard">
        <img src="/assets/img/cartoes/elo.png" alt="Elo">
        <img src="/assets/img/cartoes/hiper.png" alt="Hipercard">
        <img src="/assets/img/cartoes/discover.png" alt="Discover">
        <img src="/assets/img/cartoes/american.png" alt="American Express">
        <img src="/assets/img/cartoes/mercado-pago.png" alt="Mercado Pago">
        <img src="/assets/img/cartoes/pagbank.png" alt="PagBank">

        </div>
      </div>

      <div class="box-line-footer">
        <h3>Links úteis</h3>
        <div class="links-footer">

          <a href="/pages/sobre/sobre.html">Sobre</a>
          <a href="/pages/sobre/privacidade.html">Politica de Privacidade</a>
          <a href="/pages/sobre/termos.html">Termos de Condições</a>
          <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20como%20Comprar%20produtos%20na%20VOLTRUCKS."
            target="_blank">Como Comprar</a>
          <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20sobre%20troca%20e%20devoluções."
            target="_blank">Troca e Devoluções</a>
          <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20sobre%20a%20VOLTRUCKS."
            target="_blank">Fale Conosco</a>
        </div>
      </div>

      <div class="box-line-footer">

        <h3>Siga-Me</h3>
        <div class="btn-redes">
          <a href="#"><button><i class="bi bi-instagram"></i></button></a>
          <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20sobre%20a%20VOLTRUCKS."><button><i
                class="bi bi-whatsapp"></i></button></a>
        </div>
      </div>

    </section>

    <section class="line-footer3">
      <p>Voltrucks Diagnóstico &copy; 2024 - Todos os direitos reservados</p>
    </section>

  </div>
</footer>