<header class="header" id="header">

    <div class="container header-container">

        <!-- LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/banners/logo-marca.png" alt="Voltrucks">
            </a>
        </div>

        <!-- MENU HAMBURGUER -->
        <div class="menu-toggle" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- MENU -->
        <nav class="menu" id="menu">

            <ul>

                <li class="mega-parent">

                    <a href="../pages/produtos.html">PRODUTOS</a>

                    <div class="mega-menu">

                        <div class="mega-col">

                            <h4>Diagnóstico</h4>

                            <a href="../pages/programas.html">Programas</a>
                            <a href="../pages/interface-notebook.html">Scanner + Notebook</a>
                            <a href="../pages/acessorios.html">Acessórios</a>

                        </div>

                        <div class="mega-col">

                            <h4>Todas as Marcas</h4>

                            <a href="../pages/marcas/volvo.html">Volvo</a>
                            <a href="../pages/marcas/scania.html">Scania</a>
                            <a href="../pages/marcas/mercedes.html">Mercedes-Benz</a>
                            <a href="../pages/marcas/cummins.html">Cummins</a>
                            <a href="../pages/marcas/caterpillar.html">Caterpillar</a>
                            <a href="../pages/marcas/outros.html">Outros</a>
                            <a href="./pages/marcas/john-deere.html">John Deere</a>

                        </div>

                        <div class="mega-col">

                            <h4>Suporte</h4>

                            <a href="../pages/servicos.html">Serviços e instalações</a>

                            <a href="https://wa.me/5518998070775?text=Olá!%20Preciso%20de%20Suporte%20e%20informação."
                                target="_blank">
                                Suporte técnico
                            </a>

                        </div>

                    </div>

                </li>

            </ul>

        </nav>

        <!-- CARRINHO -->
        <div class="header-actions">

            <a href="../carrinho.html" class="cart">

                <i class="bi bi-cart3"></i>

                <span id="badgeCarrinho"></span>

            </a>

        </div>

    </div>

</header>