<footer>
  <div id="footer"></div>
  <div class="interface">

  <section class="whatsapp-footer">
    <div class="whatsapp-container">

      <div class="whatsapp-text">
        <span class="icon">📢</span>
        <div>
          <strong>Novidades via WhatsApp</strong>
        </div>
      </div>

      <div class="whatsapp-action">
        <a href="https://wa.me/5518998070775?text=Olá!%20Quero%20saber%20mais%20informação%20sobre%20a%20VOLTRUCKS." target="_blank"
          class="btn-whatsapp">
          Entrar em contato
        </a>
      </div>

    </div>
  </section>

    <section class="line-footer2">
      <div class="box-line-footer">
        <h3>Sobre Nós</h3>
        <p>A Voltrucks atua com soluções profissionais em diagnóstico,
          programação e performance para caminhões e veículos pesados.
          Trabalhamos com equipamentos de qualidade, suporte técnico especializado
          e foco total em eficiência e confiança para o dia a dia das oficinas e
          frotas.</p>
      </div>

      <div class="box-line-footer">
        <h3>Links úteis</h3>
        <div class="links-footer">

          <a href="">Como Comprar</a>
          <a href="">Politica de Privacidade</a>
          <a href="">Termos de Condições</a>
          <a href="">Troca e Devoluções</a>
          <a href="">Fale Conosco</a>
        </div>
      </div>

      <div class="box-line-footer">
        <h3>Siga-Me</h3>
        <div class="btn-redes">
          <a href="#"><button><i class="bi bi-instagram"></i></button></a>
          <a href="#"><button><i class="bi bi-whatsapp"></i></button></a>
        </div>
      </div>

    </section>

    <section class="line-footer3">
      <p>Voltrucks Diagnóstico &copy; 2024 - Todos os direitos reservados</p>
    </section>

  </div>
</footer>