<header id="header" class="bg-dark py-3">
  <div id="header"></div>
  <div class="container">

    <nav>
      <ul class="d-flex gap-4 list-unstyled mb-0 align-items-center">
        <a href="/index.html">
          <img src="/assets/img/banners/logo-marca.png" alt="Logo Voltrucks">
        </a>

        <li><a href="/pages/produtos.html" class="text-white text-decoration-none">PRODUTOS</a></li>
        <li><a href="/pages/servicos.html" class="text-white text-decoration-none">SERVIÇOS</a></li>
        <li><a href="/pages/sobre.html" class="text-white text-decoration-none">SOBRE NÓS</a></li>
      </ul>
    </nav>

    <div>
      <button class="btn btn-outline-light"><i class="bi bi-person-fill"></i></button>

      <a href="/carrinho.html">
        <button class="btn btn-outline-light" id="btnCarrinho">
          <i class="bi bi-cart-check"></i>
          <span id="badgeCarrinho" class="badge"></span>
        </button>
      </a>

    </div>
  </div>
  </div>
</header>