.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel-item {
  min-width: 260px;
  flex-shrink: 0;
}

.carousel:hover .carousel-track {
  animation-play-state: paused;
}

/* responsividade  */

@media (max-width: 1024px) {
  .carousel-item {
    min-width: 220px;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    min-width: 180px;
  }

  .carousel-track {
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    min-width: 150px;
  }
}