.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 30px 4%;
  top: 0;
  left: 0;
}

header img {
  font-size: 30px;
  cursor: pointer;
  color: #fcfcfc;
  width: 300px;
}

header ul {
  list-style: none;

}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

header ul li a {
  text-decoration: none;
  color: #f3f2f2;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}

.btn-contato button {
  padding: 9px 20px;
  background-color: #fdfcfc;
  color: #070707;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}


/* ===============================
   CONTADOR APENAS NO HEADER
   =============================== */

.header-cart {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.header-cart i {
  font-size: 22px;
}

/* BADGE */
.header-cart #badgeCarrinho {
  position: absolute;
  top: -6px;
  right: -10px;
  min-width: 18px;
  height: 18px;
  background: #dc3545;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}

.header-cart #badgeCarrinho.active {
  display: flex;
}

/* responsividade Menu hanburguer  */
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

/* SUBMENU */
.submenu {
  display: none;
  margin-top: 10px;
}

.has-submenu.open .submenu {
  display: block;
}

.submenu li a {
  font-size: 15px;
  color: #ccc;
}

@media (max-width: 1024px) {

  /* Menu principal escondido por padrão */
  .menu {
    display: none;
    /* escondido inicialmente */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #111;
    padding: 20px 0;
    z-index: 999;
    flex-direction: column;
  }

  /* Menu ativo */
  .menu.active {
    display: flex;
    /* mostra o menu */
    flex-direction: column;
  }

  /* Ocultar itens desktop dentro do ul principal */
  header ul li.d-none.d-lg-block {
    display: none !important;
    /* escondido no mobile */
  }

  /* Itens do menu */
  .menu ul {
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    margin: 0;
  }

  .menu ul li {
    display: block;
    margin: 12px 0;
  }

  .menu ul li a {
    color: #fff;
    font-size: 18px;
    display: block;
  }

  /* Submenu */
  .submenu {
    display: none;
    /* escondido por padrão */
    flex-direction: column;
    padding-left: 20px;
  }

  .has-submenu.open .submenu {
    display: flex;
    /* aparece quando clicar */
  }
}